* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

/* head styling */
header {
  width: 100%;
  padding: 20px;
  background-color: hsl(193, 100%, 96%);
  background-image: url(./images/bg-hero-desktop.svg);
}

.top-head {
  margin: auto;
  padding: 50px 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styling logo and top button */
#logo,
#top-button {
  width: 15%;
}

#top-button {
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: white;
  color: hsl(192, 100%, 9%);
  border: 2px solid hsla(200, 4%, 83%, 0.562);
  border-radius: 25px;
  box-shadow: 1.5px 1.5px hsla(197, 5%, 70%, 0.555);
  cursor: pointer;
}

#top-button:active {
  border: 2px solid hsla(200, 4%, 83%, 0.562);
  background-color: rgba(255, 255, 255, 0.445);
  color: hsla(192, 93%, 17%, 0.39);
}

/* end of logo and top button */

/* styling of text and img in header */
.text-img {
  padding: 40px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.text,
.img {
  width: 100%;
}

.text {
  padding: 100px;
  padding-left: 0;
  width: 50%;
}

.img {
  width: 50%;
}

.text h1,
p {
  padding: 20px;
  width: 100%;
}

.text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-size: 40px;
  color: hsl(192, 100%, 9%);
}

.text p {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: hsl(192, 100%, 9%);
}

.text button {
  width: 40%;
  margin: 20px;
  padding: 15px;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  border: 2px solid hsl(322, 76%, 72%);
  border-radius: 25px;
  box-shadow: 2px 1.5px hsla(323, 68%, 82%, 0.712);
  cursor: pointer;
}

.text button:active {
  background-color: hsla(322, 100%, 66%, 0.658);
  color: hsla(192, 100%, 96%, 0.664);
}

.img img {
  width: 100%;
}

/* end of text and img in header */
/* end of header styling */

/* styling main */
main {
  width: 100%;
  padding: 100px;
  position: relative;
}

/* styling middle divs */
.middle div {
  width: 100%;
  display: flex;
  align-items: center;
}

.middle-1,
.middle-2,
.middle-3 {
  width: 100%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  margin-bottom: 40px;
  padding: 0px;
}

.middle-1 .m1-text,
.middle-2 .m2-text,
.middle-3 .m3-text {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.middle-1 .m1-img,
.middle-2 .m2-img,
.middle-3 .m3-img {
  width: 100%;
  padding: 50px;
}

.middle-1>.m1-img>img,
.middle-2>.m2-img>img,
.middle-3>.m3-img>img {
  width: 100%;
}

.m1-text>h1,
p,
.m2-text>h1,
p,
.m3-text>h1,
p {
  width: 100%;
}

.m1-text>h1,
.m2-text>h1,
.m3-text>h1 {
  font-family: "Poppins", sans-serif;
  color: hsl(192, 100%, 9%);
  font-weight: 600;
}

.m1-text>p,
.m2-text>p,
.m3-text>p {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: hsl(208, 11%, 55%);
}

.middle-3 {
  margin-bottom: 200px;
}

/* overlapping div */
.middle-4 {
  position: absolute;
  bottom: -300px;
  margin: 200px;
  padding: 50px 100px 50px 200px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.middle-4 h1 {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: hsl(192, 100%, 9%);
}

.middle-4 button {
  width: 50%;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  background-color: hsl(322, 100%, 66%);
  color: hsl(193, 100%, 96%);
  border: 2px solid hsl(322, 76%, 72%);
  border-radius: 30px;
  box-shadow: 4px 4px hsla(323, 68%, 82%, 0.712);
  margin: 20px;
  cursor: pointer;
}

.middle-4 button:active {
  background-color: hsla(322, 100%, 66%, 0.658);
  color: hsla(192, 100%, 96%, 0.664);
}

/* footer */
footer {
  width: 100%;
  background-color: hsl(192, 100%, 9%);
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.l-f-c {
  width: 100%;
  padding: 200px 100px 50px 100px;
}

.l-f-c div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-logo {
  width: 100%;
  margin-right: 100px;
  margin-bottom: 20px;
}

.f1,
.f2,
.f3 {
  flex-direction: column;
}

.f1 p,
.f2 p,
.f3 p {
  padding: 10px 10px 10px 20px;
}

/* footer p tags with a(link) */
a {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: underline;
  color: hsl(208, 11%, 55%);
}

/* footer social media icon-div */
i {
  margin: 10px;
  padding: 10px;
  margin-bottom: 100px;
  color: white;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

i:active {
  color: hsla(322, 100%, 66%, 0.658);
}

.l-f-c .copyright>p {
  padding-top: 100px;
  font-size: small;
  text-align: right;
}

/* media queries */
@media screen and (max-width: 600px) and (min-width: 300px) {
  header {
    flex-direction: column;
    background-image: url(./images/bg-hero-mobile.svg);
  }

  /* heading text and image */
  /* top-head logo and button */
  .top-head {
    padding: 10px;
  }

  #logo,
  #top-button {
    width: 30%;
  }

  #top-button {
    padding: 5px;
    font-weight: 400;
  }

  /* text and image in header */
  .text-img {
    flex-direction: column;
    padding: 20px 0;
  }

  .text {
    padding: 40px 0;
    width: 100%;
    text-align: center;
  }

  .text h1,
  p {
    padding: 10px 0;
  }

  .text h1 {
    font-size: 30px;
  }

  .text p {
    font-size: 18px;
    font-weight: 400;
  }

  .text button {
    width: 70%;
  }

  .img {
    width: 100%;
  }

  /* main */
  main {
    padding: 100px 20px;
  }

  /* middle */
  .middle div {
    flex-direction: column;
  }

  .middle .middle-1,
  .middle .middle-3 {
    flex-direction: column-reverse;
  }

  .middle-1 .m1-text,
  .middle-2 .m2-text,
  .middle-3 .m3-text {
    text-align: center;
    padding: 20px;
  }

  .m1-text>h1,
  .m2-text>h1,
  .m3-text>h1 {
    padding-left: 0;
  }

  .m1-text>p,
  .m2-text>p,
  .m3-text>p {
    font-weight: 400;
  }

  /* overlapping div */
  .middle-4 {
    padding: 20px;
    margin: 20px;
    bottom: -150px;
  }

  .middle-4 button {
    padding: 10px;
    font-weight: 400;
    margin: 10px;
  }

  /* footer */
  footer {
    font-weight: 400;
  }

  .l-f-c {
    padding: 200px 0 50px 0;
  }

  .l-f-c div {
    flex-direction: column;
  }

  .f1 div {
    flex-direction: row;
    padding-left: 20px;
  }

  .l-f-c>div>.f4 {
    flex-direction: row;
  }

  i {
    margin-bottom: 20px;
  }

  .l-f-c .copyright>p {
    padding: 0;
    text-align: center;
  }
}

/* tab size */
@media screen and (max-width: 1000px) and (min-width: 600px) {
  .top-head {
    padding: 20px;
  }

  #logo,
  #top-button {
    width: 20%;
  }

  .text-img {
    padding: 10px;
  }

  .text {
    padding: 10px 10px 10px 0;
  }

  .text h1,
  p {
    padding: 10px;
  }

  .text button {
    margin: 10px;
    width: 60%;
  }

  .img {
    padding: 0;
  }

  /* main */
  main {
    padding: 50px;
  }

  .middle-1 .m1-text,
  .middle-2 .m2-text,
  .middle-3 .m3-text {
    padding: 20px;
  }

  .middle-1 .m1-img,
  .middle-2 .m2-img,
  .middle-3 .m3-img {
    padding: 25px;
  }

  /* overlapping div */
  .middle-4 {
    padding: 25px 50px 25px 50px;
    margin: 50px;
    bottom: -150px;
    left: 0;
  }

  .middle-4 button {
    padding: 20px;
    margin: 20px;
  }

  /* footer */
  .l-f-c {
    padding: 200px 25px 50px 25px;
  }

  .f1 p,
  .f2 p,
  .f3 p {
    padding: 5px 2px 2px 5px;
  }

  i {
    margin: 5px;
  }
}